In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import numpy as np

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
df_test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [4]:
df_train.info()
print('-' * 50)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [5]:
df_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
df_train = df_train.dropna(subset=['Embarked'])

In [8]:
test_clean = df_test.copy()
train_clean = df_train.copy()

In [9]:
test_clean = test_clean[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
test_clean.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,S

In [10]:
train_clean = train_clean [['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
train_clean.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [11]:
test_clean['Age'] = test_clean['Age'].fillna(test_clean['Age'].median())

In [12]:
train_clean['Age'] = train_clean['Age'].fillna(train_clean['Age'].median())

In [13]:
test_clean['Fare'] = test_clean['Fare'].fillna(test_clean['Fare'].median())

In [14]:
train_clean['Fare'] = train_clean['Fare'].fillna(train_clean['Fare'].median())

In [15]:
test_clean['Embarked'] = test_clean['Embarked'].fillna(test_clean['Embarked'].mode())

In [16]:
train_clean['Embarked'] = train_clean['Embarked'].fillna(train_clean['Embarked'].mode())

In [17]:
rotulos = ['0 - 16', '16 - 32', '32 - 48', '48 - 64', '64 - 80']
test_clean.loc[:,'intervalo_idades'] = pd.cut(test_clean['Age'], bins = 5, labels=rotulos)

In [18]:
test_clean.loc[:,'Tarifas'] = pd.qcut(test_clean['Fare'], q = 6)

In [19]:
rotulos = ['0 - 16', '16 - 32', '32 - 48', '48 - 64', '64 - 80']
train_clean.loc[:,'intervalo_idades'] = pd.cut(train_clean['Age'], bins = 5, labels=rotulos)

In [20]:
train_clean.loc[:,'Tarifas'] = pd.qcut(train_clean['Fare'], q = 6)

In [21]:
train_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       889 non-null    int64
 1   Survived          889 non-null    int64
 2   Pclass            889 non-null    int64
 3   Name              889 non-null    object
 4   Sex               889 non-null    object
 5   Age               889 non-null    float64
 6   SibSp             889 non-null    int64
 7   Parch             889 non-null    int64
 8   Fare              889 non-null    float64
 9   Embarked          889 non-null    object
 10  intervalo_idades  889 non-null    category
 11  Tarifas           889 non-null    category
dtypes: category(2), float64(2), int64(5), object(3)
memory usage: 78.6+ KB

In [22]:
test_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       418 non-null    int64
 1   Pclass            418 non-null    int64
 2   Name              418 non-null    object
 3   Sex               418 non-null    object
 4   Age               418 non-null    float64
 5   SibSp             418 non-null    int64
 6   Parch             418 non-null    int64
 7   Fare              418 non-null    float64
 8   Embarked          418 non-null    object
 9   intervalo_idades  418 non-null    category
 10  Tarifas           418 non-null    category
dtypes: category(2), float64(2), int64(4), object(3)
memory usage: 30.8+ KB

In [23]:
from sklearn.preprocessing import LabelEncoder

def label_encoder(DataFrame, coluna, nova_coluna):    
    le = LabelEncoder()
    DataFrame[nova_coluna] = le.fit_transform(DataFrame[coluna])
    return DataFrame

In [24]:
from sklearn.preprocessing import OneHotEncoder

def one_hot_encoder(DataFrame, Coluna):
    encoder_coluna = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
    encoded_coluna = encoder_coluna.fit_transform(DataFrame[[Coluna]])
    cols = encoder_coluna.get_feature_names_out([Coluna])
    DataFrame = pd.concat(
        [DataFrame.drop(columns=[Coluna]),
        pd.DataFrame(encoded_coluna, columns=cols, index=DataFrame.index)],
        axis=1
    )
    return DataFrame

In [25]:
train_clean = label_encoder(train_clean, 'Pclass', 'pclass_encoded')
train_clean = label_encoder(train_clean, 'intervalo_idades', 'intervalo_idade_encoded')
train_clean = label_encoder(train_clean, 'Tarifas', 'tarifas_encoded')

test_clean = label_encoder(test_clean, 'Pclass', 'pclass_encoded')
test_clean = label_encoder(test_clean, 'intervalo_idades', 'intervalo_idade_encoded')
test_clean = label_encoder(test_clean, 'Tarifas', 'tarifas_encoded')

In [26]:
train_clean = one_hot_encoder(train_clean, 'Sex')
train_clean = one_hot_encoder(train_clean, 'Embarked')

test_clean = one_hot_encoder(test_clean, 'Sex')
test_clean = one_hot_encoder(test_clean, 'Embarked')

In [27]:
train_clean = train_clean.drop(columns=['intervalo_idades', 'Tarifas','Name'])

In [28]:
test_clean = test_clean.drop(columns=['intervalo_idades', 'Tarifas','Name'])

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

x = train_clean.drop(columns=['PassengerId', 'Survived'])
y = train_clean['Survived']

x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.2)

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_valid)

acuracia = accuracy_score(y_valid, y_pred)
print(f'A Acurácia é de {acuracia :.4f}')

A Acurácia é de 0.8034

In [30]:
x_train_full = train_clean.drop(columns=['PassengerId', 'Survived'])
y_train_full = train_clean['Survived']

x_test = test_clean.drop(columns='PassengerId')

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(x_train_full, y_train_full)
y_pred = model.predict(x_test)

submission = pd.DataFrame({
    'PassengerId': test_clean['PassengerId'],
    'Survived' : y_pred
})

submission.to_csv('submission.csv', index='False')